/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*////////////////////////////////HEADER///////////////////////////////*/

header{
    width: 100%;
    border-top: 0px solid #aaaaaa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.head_shadow{
  border-top: 0px solid #aaaaaa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.shadow_therd_block{
  border-bottom:  2px solid #A0A0A0;
}


.block_head{
    display: flex;
    width: 100%;
}

.block_first{
    display: flex;
    background-color: #274646;
    height: 52px;
}

.first_block_items{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.image_items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.img_log{
  display: flex;
  margin-right: 10px;
}
.price{
    margin-left: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

/* for changing display in madia_content */
.phone{
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #A0A0A0;
  text-decoration: none;
}

.hide{
  display: flex;
}

.img_fr_log{
  display: none;
}

/* end of changing display in madia_content */

.block_items{
  display: flex;
  gap: 24px;
}

.block_items_right{
  display: flex;
  gap: 24px;
}

.block_nav{
    display: flex;
    background-color: #FFFFFF;
    height: 52px;
}

.nav_border{
    display: flex;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid #E5E5E5;
    align-items: stretch;
    overflow-x: auto;
    white-space: nowrap;
}

.nav_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_element a {
    text-decoration: none;
    color: #274646;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}

.nav_element:hover{
    border-bottom: 3px solid #274646;
}

.block_second_nav{
  display: flex;
  background-color: #FFFFFF;
  height: 52px;
}

.second_nav_element{
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.second_nav_element a{
    text-decoration: none;
    color: #6B6B6B;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #e9e6e6;
    border-radius: 30px;  
    padding: 6px 14px; 
}

.second_nav_element a:hover{
    color: #274646;
    border-radius: 30px;
    background: #E9E6E6
    
}

.nav_border_second{
    display: flex;
    justify-content: start;
    padding: 8px 0px;
    align-items: stretch;
    gap: 20px;
}

/*////////////////////////////////END_OF_HEADER///////////////////////////////*/

/*////////////////////////////////MAIN_BLOCK///////////////////////////////*/

/*  Cards  */
.container_main{
  margin: 0 auto;
  width: auto;
}
.nav_block_therd{
  padding-top: 20px;
}

.therd_nav_elements{
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  overflow: auto;
}

/* scroll_bar */
.therd_nav_elements::-webkit-scrollbar{
  height: 2px;
}
.therd_nav_elements::-webkit-scrollbar-thumb:hover{
  background: #5f5f5f;
}
.therd_nav_elements::-webkit-scrollbar-thumb{
  background: #A0A0A0; 
}
.therd_nav_elements::-webkit-scrollbar-track{
  background: #E5E5E5; 
}
/* end_scroll_bar*/

.therd_nav_element{
  height: 276px;
  min-width: 152px;
  margin-bottom: 34px;
  overflow: hidden;
  border-radius: 16px;
  border: 2px solid #FFBEC9;
  padding: 2px;
} 

.nav_item_image {
  width: auto;
  height: 100%;
}

.therd_nav_element:hover{
  border: 2px solid #FFBEC9;
}
/*  End_Cards  */

/* rols_block  */

/*______TAPE______*/

.scroll_block{
  width: 100%;
}

.title_block{
  display: flex;
  margin: 0;
  gap: 176px;
  margin: 48px 0 64px 0;
  overflow: hidden;
  height: 100px;
  font-family: 'Rimma_sans';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
}

.rols_block_color{
  background: linear-gradient(0deg, #F293A2 -0.01%, #F7BDC7 99.99%);
  color: #FFD8E1;
}

.sushi_block_color{
  background: linear-gradient(0deg, #F9B147 -0.01%, #FDC944 99.99%);
  color: #FFE091;
}
.poke_block_color{
  background: linear-gradient(0deg, #001918 0%, #003D3D 100%);
  color: #006666;
}

.animation_tape_rolls{
  animation-name: animation_rolls 3s linear infinite;
}

.animation_tape_sushi{
  animation-name: animation_sushi 3s linear infinite;
}

.animation_tape_poke{
  animation-name: animation_poke 3s linear infinite;
}

@keyframes animation_rolls{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-533.766px);
  }
}

@keyframes animation_tape_sushi {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-450.766px);
  }
}

@keyframes animation_poke {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-942.8px);
  }
}


.product_title{
  display: flex;
  margin: 0;
  line-height: 100%;
  align-items: center;
  text-transform: uppercase;
  white-space: nowrap;
}
/*______END_TAPE______*/

.Section{
  margin-top: 64px;
}

.section_name{
  font-family: 'Value Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #274646;
  margin-bottom: 31px;
}

.cards_of_section{
  display: grid;
  gap: 27px;
  grid-template-columns: repeat(4, 3fr);
}

.card_of_section{
  display: grid;
  grid-template-rows: 200px auto;
  max-width: 300px;
  padding: 16px;
  outline: 2px solid #FFF;
  border-radius: 8px;
}

.card_of_section:hover{
  outline: 2px solid #F7F7F7;
}

.imgs_of_section{
  width: auto;
  height: auto;
  grid-template-columns: repeat(1, 12fr);
}

.img_icons{
  display: flex;
  gap: 8px;
  top: 0px;
  left: 0px;
}

.img_icon_main {
  max-width: 274px;
  height: 200px; 
  overflow: hidden;
}

.inform_part{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-template-columns: repeat(1, 12fr);
}

.left_inform_part{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.right_inform_part{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
  align-items: center;
}

.left_inform_value_1{
  font-family: 'Value Sans Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #6B6B6B;
  padding-bottom: 4px;
}

.left_inform_value_2{
  font-family: 'Value Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #757575;
}

.inform_oldprice{
  font-family: 'Value Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-decoration-line: line-through;
  color: #A0A0A0;
}

.inform_newprice{
  font-family: 'Value Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #274646;
  background: #E9E6E6;
  border-radius: 46px;
  padding: 10px 23.5px;
  text-decoration: none;
}

.inform_newprice:hover{
  color: #FFFFFF;
  background: #274646;
}
/* end_rols_block  */




/*////////////////////////////////END_MAIN_BLOCK///////////////////////////////*/


/*//////////////////////////////////////////MEDIA REQUESR//////////////////////////////*/


/*CONTAINERS*/


@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .phone{
    display: none;
  }
  .hide{
    display: none;
  }
  .img_fr_log{
    display: flex;
  }
  .block_items_right{
    display: none;
  }
  .block_items{
    width: 100%;
    justify-content: space-between;
  }
  .nav_border{
    gap: 48px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .container {
    width: 540px;
  }
  .phone{
    display: none;
  }
  .hide{
    display: none;
  }
  .img_fr_log{
    display: flex;
  }
  .block_items_right{
    display: none;
  }
  .block_items{
    width: 100%;
    justify-content: space-between;
  }
  .nav_border{
    gap: 48px;
  }
}

@media (min-width: 769px) and  (max-width: 992px) {
  .container {
    width: 720px;
  }
  .phone{
    display: none;
  }
  .image_items_right{
    display: none;

  }
  .block_items{
    width: 100%;
    justify-content: space-between;
  }
  .nav_border{
    gap: 48px;
  } 
}

@media (min-width: 993px) and  (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .nav_border{
    gap: 48px;
  }
}

@media (min-width: 1201px) and (max-width:1400px) {
  .container {
    width: 1140px;
  }
}

@media (min-width:1401px) {
  .container {
    width: 1320px;
  }
}
