/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*////////////////////////////////HEADER///////////////////////////////*/

header{
    width: 100%;
    
}

.head_shadow{
  border-top: 0px solid #aaaaaa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

main{
  width: 100%;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.container_therd_block{
  width: 1400px;
  margin: 0 auto;
  border-bottom:  2px solid #A0A0A0;
}


.block_head{
    width: 100%;
}

.block_first{
    background-color: #274646;
    height: 52px;
}

.first_block_items{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.image_items{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.img_log{
  margin-right: 10px;
}

.block_items{
  display: flex;
  gap: 24px;
}

.block_nav{
    background-color: #FFFFFF;
    height: 52px;
}

.nav_border{
    display: flex;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid #E5E5E5;
    align-items: stretch;
}

.nav_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_element a {
    text-decoration: none;
    color: #274646;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}

.nav_element:hover{
    border-bottom: 3px solid #274646;
}

.block_second_nav{
  background-color: #FFFFFF;
  height: 52px;
}

.second_nav_element{
    display: flex;
    justify-content: center;
    align-items: center;
     
}

.second_nav_element a{
    text-decoration: none;
    color: #6B6B6B;
    font-family: 'Value Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #e9e6e6;
    border-radius: 30px;  
    padding: 6px 14px; 
}

.second_nav_element a:hover{
    color: #274646;
    border-radius: 30px;
    background: #E9E6E6
    
}

.nav_border_second{
    display: flex;
    justify-content: start;
    padding: 8px 0px;
    align-items: stretch;
    gap: 20px;
}

.block_therd_nav{
  background-color: #FFFFFF;
  height: 336px;
}

.nav_border_therd{
  display: flex;
  padding: 30px 0px;
  justify-content: start;
  gap: 24px;
}

.therd_nav_element{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: 2px solid salmon;
    padding: 1px;
}
